@(total: Int)

@main_admin("Dashboard") {
	<div id="wrapper">
			<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Trang quản lý của giáo vụ</h1>
					</div>
						<!-- /.col-lg-12 -->
				</div>
					<!-- /.row -->
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-graduation-cap fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<div class="huge">@total</div>
										<div>học viên</div>
									</div>
								</div>
							</div>
							<a href="@routes.Manager.list()">
								<div class="panel-footer">
									<span class="pull-left">Xem danh sách</span>
									<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-green">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-check fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<div class="huge">???</div>
										<div>học viên</div>
									</div>
								</div>
							</div>
							<a href="#">
								<div class="panel-footer">
									<span class="pull-left">Xem danh sách</span>
									<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-red">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-times fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<div class="huge">???</div>
										<div>học viên</div>
									</div>
								</div>
							</div>
							<a href="#">
								<div class="panel-footer">
									<span class="pull-left">Xem danh sách</span>
									<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="panel panel-yellow">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-question fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<div class="huge">???</div>
										<div>học viên</div>
									</div>
								</div>
							</div>
							<a href="#">
								<div class="panel-footer">
									<span class="pull-left">Xem danh sách</span>
									<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
				<!-- /.container-fluid -->
		</div>
	</div>
}