@(id: Int, studentForm: Form[Student], optionMap: Map[Int, String], optionMap2: Map[Int, String])
@import helper._

@main_admin("List students"){
  <div id="wrapper">
      <!-- Page Content -->
    <div id="page-wrapper" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">&nbsp;Sửa thông tin học viên</h1>
          </div>
            <!-- /.col-lg-12 -->
        </div>

        @form(routes.Manager.update(id)) {

          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                @studentForm("name").value (@studentForm("mssv").value)
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <form role="form">
                      <input class="form-control" type="hidden" id="@studentForm("id").id" name="@studentForm("id").id" value="@studentForm("id").value"readonly>

                      <div class="form-group @if(studentForm("mssv").hasErrors) {has-error}">
                        <label class="col-sm-2 control-label" for="@studentForm("mssv").id">Mã số SV:</label>
                        <div class="col-sm-6">
                          <input class="form-control" type="text" id="@studentForm("mssv").id" name="@studentForm("mssv").id" value="@studentForm("mssv").value" placeholder="Mã số sinh viên (Bắt buộc)" >
                          <span class="help-block">&nbsp;@{
                            studentForm("mssv").error.map { error => error.message }
                          }</span>
                        </div>
                      </div>
                      <div style="clear: both"></div>
                      <div class="form-group @if(studentForm("name").hasErrors) {has-error}">
                        <label class="col-sm-2 control-label" for="@studentForm("name").id">Họ và tên:</label>
                        <div class="col-sm-6">
                          <input class="form-control" type="text" id="@studentForm("name").id" name="@studentForm("name").id" value="@studentForm("name").value" placeholder="Họ và tên (Bắt buộc)" >
                          <span class="help-block">&nbsp;@{
                            studentForm("name").error.map { error => error.message }
                          }</span>
                        </div>
                      </div>
                      <div style="clear: both"></div>
                      <div class="form-group @if(studentForm("email").hasErrors) {has-error}">
                        <label class="col-sm-2 control-label" for="@studentForm("email").id">Email:</label>
                        <div class="col-sm-6">
                          <input class="form-control" type="email" id="@studentForm("email").id" name="@studentForm("email").id" value="@studentForm("email").value" placeholder="Email(Bắt buộc)" readonly>
                          <span class="help-block">&nbsp;@{
                            studentForm("email").error.map { error => error.message }
                          }</span>
                        </div>
                      </div>
                      <div style="clear: both"></div>
                      <div class="form-group @if(studentForm("bday").hasErrors) {has-error}">
                        <label class="col-sm-2 control-label" for="@studentForm("bday").id">Ngày sinh:</label>
                        <div class="col-sm-6">
                          <input class="form-control" type="text" id="@studentForm("bday").id" name="@studentForm("bday").id" value="@studentForm("bday").value" placeholder="dd/mm/yyyy">
                          <span class="help-block">&nbsp;@{
                            studentForm("bday").error.map { error => error.message }
                          }</span>
                        </div>
                      </div>
                      <div style="clear: both"></div>

                      <div class="form-group @if(studentForm("facultyId").hasErrors) {has-error}">
                        <label class="col-sm-2 control-label" for="@studentForm("facultyId").id">Ngành</label>
                        <div class="col-sm-6">
                          <select
                          class="form-control"
                          id="@studentForm("facultyId").id"
                          name="@studentForm("facultyId").id">
                            <option class="blank" value="">Please select a value</option>
                            @for((facultyId, faculty) <- optionMap) {
                              <option value="@facultyId" @if(Some(facultyId).toString == studentForm("facultyId").value.toString){ selected }>@faculty</option>
                            }
                          </select>
                          <span class="help-block"></span>
                          <span class="help-block">@{studentForm("facultyId").error.map { error => error.message }}</span>
                        </div>
                      </div>
                      <div style="clear: both"></div>

                      <div class="form-group @if(studentForm("classId").hasErrors) {has-error}">
                        <label class="col-sm-2 control-label" for="@studentForm("classId").id">Ngành</label>
                        <div class="col-sm-6">
                          <select
                          class="form-control"
                          id="@studentForm("classId").id"
                          name="@studentForm("classId").id">
                            <option class="blank" value="">Please select a value</option>
                            @for((classId, sclass) <- optionMap2) {
                              <option value="@classId" @if(Some(classId).toString == studentForm("classId").value.toString){ selected }>@sclass</option>
                            }
                          </select>
                          <span class="help-block"></span>
                          <span class="help-block">@{studentForm("classId").error.map { error => error.message }}</span>
                        </div>
                      </div>
                      <div style="clear: both"></div>

                      <div class="form-group @if(studentForm("address").hasErrors) {has-error}">
                        <label class="col-sm-2 control-label" for="@studentForm("address").id">Địa chỉ:</label>
                        <div class="col-sm-6">
                          <input class="form-control" type="text" id="@studentForm("address").id" name="@studentForm("address").id" value="@studentForm("address").value" placeholder="Địa chỉ">
                          <span class="help-block">&nbsp;@{
                            studentForm("address").error.map { error => error.message }
                          }</span>
                        </div>
                      </div>
                      <div style="clear: both"></div>

                      <button type="submit" class="btn btn-default">Submit Button</button>
                      <button type="reset" class="btn btn-default">Reset Button</button>
                    </form>
                  </div>

                    <!-- /.col-lg-6 (nested) -->
                </div>
                  <!-- /.row (nested) -->
              </div>
                <!-- /.panel-body -->
            </div>
              <!-- /.panel -->
          </div>
            <!-- /.col-lg-12 -->
        }
      </div>
        <!-- /.container-fluid -->
    </div>

  </div>

}