@(students: List[Student],page: Int, max: Int, currentFilter: String = "", optionMap: Map[Int, String], optionMap2: Map[Int, String])

	@link(newPage:Int, newSortBy: String) = @{

		if(newSortBy != null) {
			routes.Manager.list(newPage, newSortBy)
		}
	}

@main_admin("List students") {
	<div id="wrapper">
			<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Danh sách học viên</h1>
					</div>
						<!-- /.col-lg-12 -->
				</div>
					<!-- /.row -->
				<div class="row">
					<div class="col-lg-5">
						<form action="@link(0, "name")" method="GET">
							<div class="input-group">
								<input type="search" class="form-control" id="searchbox" name="name" value="@currentFilter" placeholder="Filter by mssv ...">
								<span class="input-group-btn">
									<button class="btn btn-default" id="searchsubmit" type="submit">Go!</button>
								</span>
							</div><!-- /input-group -->
						</form>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-lg-12" >
						<div class="panel panel-default">
							<div class="panel-heading">
								Total: @students.length
								<a href="@routes.Manager.add()" type="submit"><i class="fa fa-plus-square fa-2x pull-right"></i></a>
								<em class="pull-right">Thêm mới:</em>
							</div>
							<table class="table table-striped table-bordered table-hover" id="dataTables-example">
								<thead>
									<tr>
										<th class="col-sm-1">ID</th>
										<th class="col-sm-1">MSSV</th>
										<th class="col-sm-2">Họ tên</th>
										<th class="col-sm-2">Ngày sinh</th>
										<th Class="col-sm-1">Lớp</th>
										<th Class="col-sm-1">Khoa</th>
										<th class="col-sm-5">Địa chỉ</th>
										<th class="col-sm-1">Sửa</th>
										<th class="col-sm-1">Xóa</th>
									</tr>
								</thead>
								<tbody>
								@for(user <- students) {
									<tr class="odd gradeX">
										<td>@user.id</td>
										<td>@user.mssv</td>
										<td>@user.name</td>
										<td>@user.bday</td>
										<td>@optionMap2(user.classId)</td>
										<td>@optionMap(user.facultyId)</td>
										<td>@user.address</td>
										@user.id.map { id =>
											<td><a href="@routes.Manager.edit(id)" type="submit"><i class="fa fa-pencil-square-o fa-fw"></i></a></td>
											<td>@helper.form(routes.Manager.delete(id)){<button class="btn btn-default btn-xs" type="submit"><i class="fa fa-trash-o fa-fw"></i></button> }</td>
										}
									</tr>
								}
								</tbody>
							</table>
								<!-- /.panel-body -->
						</div>
							<!-- /.panel -->
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4">
						<nav>
							<ul class="pagination">
								<li class="prev @if(page == 0) {disabled}" ><a @if(page > 0) {href="@routes.Manager.list(page-1, currentFilter)"} aria-label="Previous" ><span aria-hidden="true">&larr; Prev</span></a></li>
								<li class="active"><a href="#">@{page*5 + "-" + {if(page*5+5<max){page*5+5}else max} + "/" + max}<span class="sr-only">(current)</span></a></li>
								<li class="next @if(page == max/5) {disabled}"><a @if(page < max/5) {href="@routes.Manager.list(page+1, currentFilter)"} aria-label="Previous"><span aria-hidden="true">Next &rarr;</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
				<!-- /.container-fluid -->
		</div>
	</div>
}