@()

@main_student("dashboard") {
  <div id="wrapper">
      <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Trang quản lý của sinh viên</h1>
          </div>

          <div class="col-lg-12">
          </div>
            <!-- /.col-lg-12 -->
        </div>
          <!-- /.row -->
      </div>
        <!-- /.container-fluid -->
    </div>
  </div>
}