@(sform: Form[(String, String, String, String)], curEmail: String)(implicit request: RequestHeader, flash: Flash)
@import helper._
@import helper.twitterBootstrap._
@main_student("List students"){
	<div id="wrapper">
			<!-- Page Content -->
		<div id="page-wrapper" >
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">&nbsp;Đổi mật khẩu</h1>
					</div>
						<!-- /.col-lg-12 -->
				</div>

				@form(routes.SManager.updatePassword()) {

					<div class="col-lg-8">
						@if(flash.get("success")){
							<div class="alert alert-success">
							@flash.get("success")
							</div>
						}

						@if(flash.get("error")){
							<div class="alert alert-error">
							@flash.get("error")
							</div>
						}
						@sform.globalError.map { error =>
							<div class="alert alert-warning">@error.message</div>
						}

						<div class="panel panel-default">
							<div class="panel-heading">

							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-8">
										<form role="form">
											<input type="hidden" id="@sform("email").id" name="@sform("email").id" value="@curEmail">

											<div class="form-group ">
												<label>Mật khẩu cũ</label>
												<input class="form-control" type="password" id="@sform("oldpassword").id" name="@sform("oldpassword").id" value="" placeholder="">
												<span class="help-block"></span>
												<span class="help-block">
												@sform.globalError.map { oldpassword =>
													<p class="error">@oldpassword.message</p>
												}
												</span>
											</div>

											<div class="form-group @if(sform("password").hasErrors) {has-error}">
												<label>Mật khẩu mới</label>
												<input class="form-control" type="password" id="@sform("password").id" name="@sform("password").id" value="" placeholder="Ít nhất 8 ký tự">
												<span class="help-block"></span>
												<span class="help-block">@{
													sform("password").error.map { error => error.message }
												}</span>
											</div>

											<div class="form-group">
												<label>Nhập lại mật khẩu mới</label>
												<input class="form-control" type="password" id="@sform("repassword").id" name="@sform("repassword").id" value="" placeholder="Ít nhất 8 ký tự">
												<span class="help-block"></span>
												<span class="help-block">
												</span>
											</div>

											<button type="submit" id="check" class="btn btn-default" onclick="check()">Submit Button</button>
											<button type="reset" class="btn btn-default">Reset Button</button>
										</form>
									</div>

										<!-- /.col-lg-6 (nested) -->
								</div>
									<!-- /.row (nested) -->
							</div>
								<!-- /.panel-body -->
						</div>
							<!-- /.panel -->
					</div>
						<!-- /.col-lg-12 -->
				}


			</div>
				<!-- /.container-fluid -->
		</div>

	</div>
	<script>
	</script>
}