body {
    font-family: Arial,Tahoma;
    font-size: 12px;
    margin:0;
    padding: 0;
    color:#000c65;
    background-color: #E9E9E9;
}
#content
{
    background: white;
    width:978px;
    margin:0 auto;
    padding-top:10px;
    padding-bottom:10px;
    display:table;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
#contentMain
{
    border-right: solid 1px;
    width:700px;
    display:block;
    float:left;
    margin-left:5px;
    padding-bottom:15px;
}
#contentNav
{
    width:260px;
    display:block;
    float:right;
    padding-bottom:15px;
}
#footer
{
    padding-top:10px;
    margin:0 auto;
    width:980px;
    height:60px;
    color:#FFFFFF;
    background:#1855A8;
    font-weight:bold;
    font-size:12px;
    text-align:center;
}
#container
{

    width:100%;
    margin:0;
    padding:0;
}
#header
{
    width:980px;
    height:100px;
    margin:0 auto;
    background-color: white;
}
#navBar
{
    width:980px;
    height:32px;
    margin:0 auto;
    background:#1854A8;
}
.logon
{
    width:250px;
    margin:0 auto;
    display:table;
    padding:0;
    border:1px solid #0076CE;
}
.logon_top
{
    width:100%;
    height:25px;
    display:block;
    float:left;
    background:#0076CE;
    text-align:center;
    color:#FFFFFF;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    line-height:25px;
}
.logon_mid
{
    width:100%;
    display:block;
    float:left;
    font-family:Arial;
    font-size:12px;
    color:#004B89;
    line-height:23px;
    padding-top:5px;
}
.logon_bottom
{
    width:100%;
    height:1px;
    display:none;
    float:left;
}
.logon_info
{
    display:block;
    float:left;
    width:95%;
    margin:0 auto;
}
.logon_caption
{
    width:30%;
    text-align:right;
    display:block;
    float:left;
    padding-right:2px;
}
.logon_value
{
    text-align:left;
    width:65%;
    float:left;
    display:block;
}
.logon_input
{
    border:1px solid #ccc;
    width:150px;
}
.logon_button
{
    width:90px;
    height:23px;
    border:0;
}

.tblnews_conten_cate {
    width: 650px;
    margin: 0px;
    padding: 0px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

