@(form: Form[(String, String)])(implicit request: RequestHeader, flash: Flash)

@main_admin("login"){
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.redirect()"><b><i>Hệ thống quản lý luận văn cao học</b></a>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel-body">
          <div style="position: absolute">
            @if(flash.get("success")){
              <div class="alert alert-success">
              @flash.get("success")
              </div>
            }

            @if(flash.get("error")){
              <div class="alert alert-error">
              @flash.get("error")
              </div>
          }
          </div>
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Đăng nhập!</h3>
          </div>
          @helper.form(routes.Authentication.authenticate) {
            @helper.CSRF.formField
            <form role="form">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="password" type="password" value="">
                </div>
                <div class="checkbox">
                  <label>
                    <p>giaovu@@example.com | 12345678</p>
                  </label>
                </div>
                <button type="submit" id="login-button" class="btn btn-lg btn-success btn-block">Login</button>
              </fieldset>
            </form>
            <p><a class="btn btn-primary" href="@routes.Authentication.prepareReset()" role="button" style="width: 330px; border-top: solid 2px;">Quên mật khẩu</a></p>
          }
          </div>
        </div>
      </div>
    </div>
  </div>
}





