@()


<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
          <!-- /input-group -->
      </li>
      <li>
        <a href="@routes.Application.index()"><i class="fa fa-dashboard fa-fw"></i> Trang thông tin sinh viên</a>
      </li>

      <li >
        <a href="#"><i class="fa  fa-user fa-fw"></i> Thông tin cá nhân<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="@routes.SManager.edit()"><i class="fa fa-long-arrow-right fa-fw"></i> Cập nhập thông tin</a>
          </li>
          <li>
            <a href="@routes.SManager.changePassword()"><i class="fa fa-long-arrow-right fa-fw"></i> Đổi mật khẩu</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="@routes.Authentication.logout()"><i class="fa fa-mail-forward fa-fw"></i> Thoát</a>
      </li>

    </ul>
  </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>
