@(form: Form[(String)])(implicit request: RequestHeader)

@main_admin("login"){
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.redirect()"><b><i>Hệ thống quản lý luận văn cao học</i></b></a>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel-body">

          @form.globalError.map { error =>
            <p class="error">@error.message</p>
          }
          <div class="login-panel panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Reset password</h3>
            </div>
            @helper.form(routes.Authentication.sendResetEmail()) {
              @helper.CSRF.formField
              <form role="form">
                <fieldset>
                  <div class="form-group">
                    <div class="form-group @if(form("email").hasErrors) {has-error}">
                      <label class="col-sm-4 control-label" for="@form("email").id">Email đăng nhập:</label>
                      <div class="col-sm-8">
                        <input class="form-control" type="text" id="@form("email").id" name="@form("email").id"  placeholder="Email">
                        <span class="help-block">&nbsp;@{
                          form("email").error.map { error => error.message }
                        }</span>
                      </div>
                    </div>
                  </div>
                  <button type="submit" id="login-button" class="btn btn-lg btn-success btn-block">Send email</button>
                </fieldset>
              </form>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}

